<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/home.js"></script>
</head>

<%- include('partials/_header') %>

  <body class="body-home-page">
    <div class="all-maps">
      <% for (const map of maps) { %>
        <div class="map-link">
          <a href="/maps/<%= map.id %>">
            <h3>Map <%= map.id %>
                <%= map.title %>
            </h3>
            <div class="home-map-image-container">
              <img src="<%= map.thumbnail_photo_url %>" class="map-image" alt="Image of <%= map.title %>">
            </div>
            <!--  <div class="map-container" id="map<%= map.id %>"></div>-->
          </a>
          <br>
        </div>
        <% } %>
    </div>



    <!--
  <div id="map">
    <p>WHERE'S THE MAP</p>
  </div>
-->

  </body>

</html>